body {
    height: 1150px;
}
article {
    height: 600px;
    width: 1000px;
    display: inline-block;
}
.product {
    display: inline-block;
    width: 600px;
    float: right;
    margin: 30px 100px 0 0;
}
.product div {
    height: 370px;
    width: 600px;
    display: inline-block;
    margin: 30px auto;
    background-color: #909090;
}
.window_two img {
    margin: 5px;
}